.card-age {
  margin-top: 50px;
  margin-left: 250px;
  margin-right: 250px;
}
.submit {
  margin-top: 20px;
  float: right;
}
.radio {
  margin-top: 10px;
}
.body {
  margin-left: 20px;
  margin-right: 20px;
}
.error {
  color: red;
  margin-left: 250px;
  margin-top: 20px;
}
.answer {
  margin-left: 650px;
  margin-top: 10px;
  color: red;
}
